header{
  display: flex;
  height: 100px;
  background-color: rgb(21, 34, 23);
  margin-top: -20px;
}

a{
  margin-top: 15px;
  margin-left: 5px;
  text-decoration: none;
  color:black;
}
a:hover{
  color: rgb(131, 38, 15);

}

body{
  background-color: #f0fff2;
  padding: 0%;
  text-decoration: none;
  margin: 0%;
}


h6{
    position: absolute;
    width: 500px;
    top: 7px;
    color: aliceblue;
    margin-left: 750px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h4{
    position: absolute;
    top: 132px;
    left: 120px;
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
  }

div{
  position: absolute;
  margin-top: 100px;
  margin-left: 10px;
  list-style: none
}


nav{
  margin-top: -16px;
  right: 100px;
  height: 1000px;
  background-color: rgb(96, 202, 96);
 background-image: url(img/EV3.jpg);
  background-size:cover;
  width: 350px;
  padding: 0px;
}

main{
  margin-top: -50px;
  position: absolute;
  margin-left: 440px;
  width: 980px;
  top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}


table th, td{
border: 0.5px solid black;
border-collapse: collapse

}

image{
  width: 500px;
}
button{
  text-align: center;
  background-color: rgb(234, 255, 184);
  margin-top: 40px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3S ease all;

}



button:hover{
  background-color: rgb(190, 255, 92)
}